@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

body {
    font-family: "Winky Rough", sans-serif;
    color: #10375b;
    font-size: 15px;
    margin: 0;
}